# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python
*.pyi text diff=python

# Config
*.json text
*.toml text
*.yaml text
*.yml text
*.cfg text
*.ini text

# Markdown
*.md text diff=markdown

# Shell
*.sh text eol=lf

# Docker
Dockerfile text

# Ensure lock files are not modified
uv.lock text -diff linguist-generated

# Binary
*.png binary
*.jpg binary
*.ico binary
